*.swp
*.swo
*.un~
sensitive/
aws/shell/1.10.1-completions.json.docs
aws/shell/cache/
aws/shell/history
aws/credentials
vim/cache
vim/.netrwhist
vim/bundle/
vim/.netrwhist
vim/tmp/*
vim/sessions
tmux/plugins/
tmux/resurrect
vim/undo/
