[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/Vundle.vim"]
	path = vim/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "tmux/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/powerlevel9k"]
	path = zsh/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "i3/i3/i3lock-multimonitor"]
	path = i3/i3lock-multimonitor
	url = https://github.com/JSteeleIR/i3lock-multimonitor.git
